<html>
<head>
<title>Registration Form</title>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
 
</head>
 
<body bgcolor="">
<form role="form"id="contact-form"class="contct-form" action="/api/user" method="post">
<table align="center" width=40% width="100%" cellspacing="2" cellpadding="2" border="5"style="color:red">
    <tr>
        <td colspan="2" align="center"><b> Student Registration Form.</b></td>
        
    </tr>
    <tr>
        <td align="left" valign="top" width="41%"><span style="color:blue"><lable for fname>first Name</lable><span style="color:red">*</span></span></td>
 
        <td width="57%"><input type="text" value="" name="f_name"  size="24"></td>
    </tr>
    <tr>
        <td align="left" valign="top" width="41%"><span style="color:blue"><lable for lname>last Name</lable><span style="color:red">*</span></span></td>
 
        <td width="57%"><input type="text" value="" name="l_name" size="24"></td>
    </tr>
    <tr>
        <td align="left" valign="top" width="41%"><span style="color:blue"><lable for mnumber>mobile number</lable><span style="color:red">*</span></span></td>
        <td width="57%">
        <input type="text" value="" name="num" size="24"></td>
    </tr>
    <tr>
        <td align="left" valign="top" width="41%"><span style="color:blue"><lable for em>Email</lable><span style="color:red">*</span></span></td>
        <td width="57%">
        <input type="text" value="" name="email_id" size="24"></td>
    </tr>
    
    <tr>
        <td colspan="2">
        <p align="center">
        <input type="submit" value="  Submit" name="B4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="reset" value="  Reset All   " name="B5"></td>
    </tr>
 
</table>
</form>
</body>
 
</html>